<!doctype html>
<html th:replace="~{layouts/base::html(main=~{::main})}">
<body>
<main>
  <h1>Handler methods examples</h1>
  <div id="div1">
    <p><input type="email" name="username" placeholder="username" required
        autofocus/>
    </p>
    <p><input type="password" name="password" placeholder="password" required/>
    </p>
    <p><input type="text" name="firstName" placeholder="firstName" required/>
    </p>
  </div>
  <h3>Request parameter test</h3>
  <form id="form1" th:action="@{/handler-methods/request}" method="post">
    <button type="submit">/handler-methods/request 로 보내기</button>
  </form>
  <form id="form2" th:action="@{/handler-methods/requestParam}" method="post">
    <button type="submit">/handler-methods/requestParam 으로 보내기</button>
  </form>
  <form id="form3" th:action="@{/handler-methods/modelAttribute}" method="post">
    <button type="submit">/handler-methods/modelAttribute 로 보내기</button>
  </form>

  <h3>HttpSession test</h3>
  <form id="form4" th:action="@{/handler-methods/login}" method="post">
    <button type="submit">/handler-methods/login 으로 보내기</button>
  </form>
  <form id="form5" th:action="@{/handler-methods/logout}" method="post">
    <button type="submit">/handler-methods/logout 으로 보내기</button>
  </form>
  <p><a th:href="@{/handler-methods/sessionAttribute}">/handler-methods/sessionAttribute</a>
  </p>
  <script>
    document.querySelector("#form1").addEventListener('submit', event => {
      document.querySelectorAll("#div1 input")
        .forEach(element => element.setAttribute("form", "form1"))
    })

    document.querySelector("#form2").addEventListener('submit', event => {
      document.querySelectorAll("#div1 input")
        .forEach(element => element.setAttribute("form", "form2"))
    })

    document.querySelector("#form3").addEventListener('submit', event => {
      document.querySelectorAll("#div1 input")
        .forEach(element => element.setAttribute("form", "form3"))
    })

    document.querySelector("#form4").addEventListener('submit', event => {
      document.querySelectorAll("#div1 input")
        .forEach(element => element.setAttribute("form", "form4"))
    })
  </script>
</main>
</body>
</html>
