<!DOCTYPE html>
<html
    th:replace="~{layouts/normal::html(title=~{::title}, style=~{::style}, main=~{::main})}">
<head>
  <title>포스트</title>
  <style>
    input[type='text'] {width:100%;}
    textarea {width:100%; height:200px;}
  </style>
</head>
<body>
<main>
  <h3>글 쓰기</h3>
  <form th:action="@{/post/postAdd}" method="post">
    <p><label><input type="text" name="title" placeholder="제목" required
        autofocus/></label></p>
    <p><label><textarea name="content" placeholder="내용"
        required></textarea></label></p>
    <p>
      <button type="submit">등록</button>
    </p>
  </form>
</main>
</body>
</html>