<!DOCTYPE html>
<html
    th:replace="~{layouts/normal::html(title=~{::title}, style=~{::style}, script=~{::script}, main=~{::main})}">
<head>
  <title>포스트</title>
  <style>
    input[type='text'] {width:90%;}
    textarea {width:90%; height:200px;}
    p.title {border-top:1px solid gray;font-weight:bold;}
    p.info {border-bottom:1px solid gray;}
  </style>
  <script>
    window.onload = () => {
      document.querySelector('#btnDel').onclick = () => confirm('삭제하시겠습니까?');
    }
  </script>
</head>
<body>
<main>
  <h3>글 보기</h3>
  <p><a th:href="${session['CURRENT_PAGE']}">글목록</a>
    <a th:if="${owner}"
        th:href="@{/post/postUpdate(postId=${post.postId})}">글수정</a>
    <a th:if="${owner}" id="btnDel"
        th:href="@{/post/deletePost(postId=${post.postId})}">글삭제</a>
  </p>
  <p class="info title" th:text="|${post.postId}. ${post.title}|"></p>
  <p class="info"><span th:text="${post.cdate}"></span> / <a
      th:href="@{/user/user(userId=${post.userId})}" th:text="${post.name}"></a>
  </p>
  <p class="info" th:utext="${post.contentHtml}"></p>
</main>
</body>
</html>