<!DOCTYPE html>
<html
    th:replace="~{layouts/normal::html(title=~{::title}, style=~{::style}, main=~{::main})}">
<head>
  <title>포스트</title>
  <style>
    input[type='number'] {width:50px;text-align:center;}
  </style>
</head>
<body>
<main>
  <h3>글 목록</h3>
  <form method="get" onchange="submit()">
    <p>총 <span th:text="${totalCount}"></span>건/
      <label>페이지: <input type="number" name="page" min="1" th:max="${maxPage}"
          th:value="${limit.page}" required autofocus/></label> <label>행:
        <input type="number" name="count" min="5" step="5"
            th:value="${limit.count}" required/></label>
      <button type="submit">검색</button>
      <a th:href="@{/post/postAdd}">글쓰기</a>
    </p>
  </form>
  <table class="list">
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>등록일시</th>
    </tr>
    <tr th:each="post: ${posts}">
      <td th:text="${post.postId}">99</td>
      <td><a th:href="@{/post/post(postId=${post.postId})}"
          th:text="${post.title}"></a>
      </td>
      <td><a th:href="@{/user/user(userId=${post.userId})}" th:text="${post.name}">김철수</a></td>
      <td th:text="${post.cdate}">2024-12-31</td>
    </tr>
  </table>
</main>
</body>
</html>