<!DOCTYPE html>
<html th:replace="~{layouts/base::html(main=~{::main}, script=~{::script})}">
<body>
<main class="container-fluid pt-3">
  <h2>Delete User</h2>
  <form th:action="@{/user/delete}" method="post">
    <p><input type="password" name="password" placeholder="비밀번호" required
        class="form-control"/>
    </p>
    <p class="d-grid">
      <button type="submit" class="btn btn-success btn-block">해지</button>
    </p>
  </form>
  <p id="message" class="message">
    <span th:if="${param.wrong_password}">비밀번호가 틀립니다.</span>
    <span th:if="${param.delete_failure}">해지할 수 없습니다. 글을 모두 삭제하세요.</span>
  </p>
</main>
<script>
  document.forms[0].addEventListener('submit', function (event) {
    if (!confirm("해지하시겠습니까?")) event.preventDefault();
  })
</script>
</body>
</html>