<!DOCTYPE html>
<html th:replace="~{layouts/base::html(main=~{::main})}">
<body>
<main>
  <h2>User List</h2>
  <p th:replace="~{layouts/pagination::p}"></p>
  <table class="list">
    <tr>
      <th>번호</th>
      <th>이메일</th>
      <th>이름</th>
      <th>가입일시</th>
    </tr>
    <tr th:each="user: ${list.content}">
      <td th:text="${user.id}">번호</td>
      <td><a th:href="@{/user/detail(id=${user.id})}"><span
          th:text="${user.username}">이메일</span></a></td>
      <td th:text="${user.firstName}">이름</td>
      <td th:text="${user.dateJoinedFormatted}">가입일시</td>
    </tr>
  </table>
</main>
</body>
</html>
