<!DOCTYPE html>
<html
    th:replace="~{layouts/normal::html(title=~{::title}, style=~{::style}, main=~{::main})}">
<head>
  <title>회원</title>
</head>
<body>
<main>
  <h3>내 정보</h3>
  <table class="info" th:object="${session.user}">
    <tr>
      <th>회원번호</th>
      <td th:text="*{userId}">99</td>
    </tr>
    <tr>
      <th>이메일</th>
      <td th:text="*{email}">hong@gmail.com</td>
    </tr>
    <tr>
      <th>이름</th>
      <td th:text="*{name}">홍길동</td>
    </tr>
  </table>
  <p><a th:href="@{/user/password}">비밀번호 변경</a></p>
  <form th:action="@{/logout}" method="post">
    <p>
      <button type="submit">로그아웃</button>
    </p>
  </form>
  <p th:if="${param.changed}" class="warn">비밀번호를 변경했습니다.</p>
</main>
</body>
</html>
