<!DOCTYPE html>
<html th:replace="~{layouts/base::html(main=~{::main}, script=~{::script})}">
<body>
<main class="container-fluid pt-3">
  <h2>Password Change</h2>
  <form th:action="@{/user/password}" method="post">
    <p><input type="password" name="oldPassword" placeholder="현재 비밀번호" required
        class="form-control"/>
    </p>
    <p><input type="password" name="newPassword" placeholder="새 비밀번호" required
        class="form-control"/>
    </p>
    <p><input type="password" name="newPassword2" placeholder="새 비밀번호 확인"
        required class="form-control"/>
    </p>
    <p class="d-grid">
      <button type="submit" class="btn btn-success btn-block">저장</button>
    </p>
  </form>
  <p id="message" class="message"><span
      th:if="${wrong_password}">현재 비밀번호가 틀립니다.</span>
  </p>
</main>
<script>
  document.forms[0].addEventListener('submit', function (event) {
    if (this.newPassword.value !== this.newPassword2.value) {
      event.preventDefault();
      document.querySelector("#message").textContent = "비밀번호가 다릅니다.";
    }
  })
</script>
</body>
</html>