<!DOCTYPE html>
<html th:replace="~{layouts/base::html(main=~{::main})}">
<body>
<main>
  <h2>User Detail</h2>
  <table class="info" th:object="${session.user}">
    <tr>
      <th>번호</th>
      <td th:text="*{id}"></td>
    </tr>
    <tr>
      <th>이메일</th>
      <td th:text="*{username}"></td>
    </tr>
    <tr>
      <th>이름</th>
      <td th:text="*{firstName}"></td>
    </tr>
    <tr>
      <th>가입일시</th>
      <td th:text="*{dateJoinedFormatted}"></td>
    </tr>
    <tr>
      <th>최근 로그인</th>
      <td th:text="*{lastLoginFormatted}"></td>
    </tr>
  </table>
  <div>
    <p>
      <button type="submit" form="logout">Logout</button>
      <button type="submit" form="delete">해지</button>
    </p>
  </div>
  <form id="logout" th:action="@{/user/logout}" method="post"></form>
  <form id="delete" th:action="@{/user/delete}" method="post"></form>
  <script>
    document.forms["delete"].addEventListener('submit', function (event) {
      if (!confirm("해지하시겠습니까?")) event.preventDefault()
    })
  </script>
</main>
</body>
</html>