<!DOCTYPE html>
<html
    th:replace="~{layouts/normal::html(title=~{::title}, style=~{::style}, main=~{::main})}">
<head>
  <title>회원</title>
  <style>
    input[type='number'] {width:50px;text-align:center;}
  </style>
</head>
<body>
<main>
  <h3>회원 목록</h3>
  <form method="get">
    <p>
      <label>페이지 : <input type="number" name="page" min="1"
          th:value="${limit.page}" required autofocus/></label> <label>행 :
      <input type="number" name="count" min="5" step="5"
          th:value="${limit.count}" required/></label>
      <button type="submit">검색</button>
    </p>
  </form>
  <table class="list">
    <tr>
      <th>번호</th>
      <th>이메일</th>
      <th>이름</th>
    </tr>
    <tr th:each="user: ${users}">
      <td th:text="${user.userId}">1</td>
      <td th:text="${user.email}">lee@naver.com</td>
      <td th:text="${user.name}">이병헌</td>
    </tr>
  </table>
</main>
</body>
</html>