<!DOCTYPE html>
<html>
<head>
  <style>
    p {margin:0}
  </style>
</head>
<body>
<h1>Hello World</h1>
<ol>
  <li><h3>Servlet examples</h3>
    <p><a href="servlets/hello">Hello Servlet</a></p>
    <p><a href="servlets/template">Hello Template</a></p>
  </li>
  <li>
    <h3>Http Methods</h3>
    <p>Get:</p>
    <form method="get" action="servlets/form">
      <input type="text" name="username"/>
      <button type="submit">보내기</button>
    </form>
    <p>Post:</p>
    <form method="post" action="servlets/form">
      <input type="text" name="username"/>
      <button type="submit">보내기</button>
    </form>
  </li>
  <li><h3>Forward and Redirect</h3>
    <p><a href="servlets/forward">servlets/forward</a></p>
    <p><a href="servlets/redirect">servlets/redirect</a></p>
  </li>
  <li><h3>Servlet Life Cycle</h3>
    <p><a href="servlets/lifecycle">servlets/lifecycle</a></p>
  </li>
  <li><h3>Scope objects</h3>
    <p><a href="servlets/first">servlets/first</a></p>
    <p><a href="servlets/second">servlets/second</a></p>
  </li>
</ol>
</body>
</html>