<!DOCTYPE html>
<html
    th:replace="~{layouts/base::html(title=~{::title}, header=~{::header}, main=~{::main})}">
<head>
  <title>웹프로그래밍II</title>
</head>
<body>
<header id="header">
  <h1>웹프로그래밍II</h1>
</header>
<main>
  <h2>Servlet Examples</h2>
  <ul class="list">
    <li><a th:href="@{/templates/servlets/hello}">HelloServlet</a></li>
    <li>Forward: <a th:href="@{/templates/servlets/forward}"
        th:text="@{/templates/servlets/forward}">HelloServlet</a>
    </li>
    <li>Redirect: <a th:href="@{/templates/servlets/redirect}"
        th:text="@{/templates/servlets/redirect}">HelloServlet</a>
    </li>
    <li><a th:href="@{/templates/servlets/users}">회원목록</a></li>
  </ul>
  <p></p>
  <h2>Spring Web Application</h2>
  <ul class="list">
    <li><a th:href="@{/hello}">/hello</a></li>
    <li><a th:href="@{/user/users}">회원-포스트</a></li>
  </ul>
</main>
</body>
</html>