<!DOCTYPE html>
<html th:replace="~{layouts/base::html(main=~{::main})}">
<body>
<main class="container-fluid pt-3">
  <h2>Sign In</h2>
  <form th:action="@{/login}" method="post">
    <p><input type="text" name="username" placeholder="이메일" required autofocus
        class="form-control"/></p>
    <p><input type="password" name="password" placeholder="비밀번호" required
        class="form-control"/></p>
    <input type="hidden" name="redirectUrl" th:value="${param.redirectUrl}"/>
    <p class="btn-group d-flex">
      <button type="submit" class="btn btn-success flex-grow-1">로그인</button>
      <a th:href="@{/signup}" class="btn btn-warning flex-grow-1">회원가입</a>
    </p>
  </form>
  <p id="message" class="message"><span
      th:if="${error}">이메일이 없거나 비밀번호가 다릅니다.</span>
  </p>
</main>
</body>
</html>