<!DOCTYPE html>
<html th:replace="~{layouts/base::html(main=~{::main}, script=~{::script})}">
<body>
<main class="container-fluid pt-3">
  <h2>Sign Up</h2>
  <form th:action="@{/signup}" method="post">
    <p><input type="email" name="username" placeholder="이메일" required autofocus
        class="form-control"/>
    </p>
    <p><input type="password" name="password" placeholder="비밀번호" required
        class="form-control"/>
    </p>
    <p><input type="password" name="password2" placeholder="비밀번호 확인" required
        class="form-control"/>
    </p>
    <p><input type="text" name="firstName" placeholder="이름" required
        class="form-control"/></p>
    <p class="d-grid">
      <button type="submit" class="btn btn-success btn-block">등록</button>
    </p>
  </form>
  <p id="message" class="message"><span
      th:if="${duplicate_email}">이메일 중복입니다.</span>
  </p>
</main>
<script>
  document.forms[0].addEventListener('submit', function (event) {
    if (this.password.value !== this.password2.value) {
      event.preventDefault();
      document.querySelector("#message").textContent = "비밀번호가 다릅니다.";
    }
  })
</script>
</body>
</html>