<!DOCTYPE html>
<html th:replace="~{layouts/base::html(title=~{::title}, main=~{::main})}">
<head>
  <title>회원</title>
</head>
<body>
<main>
  <h3>회원 가입</h3>
  <form th:action="@{/signup}" method="post">
    <ul class="list">
      <li><label><input type="email" name="email" placeholder="이메일" required
          autofocus/></label>
      </li>
      <li><label><input type="password" name="password" placeholder="비밀번호"
          required/></label>
      </li>
      <li><label><input type="text" name="name" placeholder="이름"
          required/></label></li>
    </ul>
    <p>
      <button type="submit">등록</button>
    </p>
  </form>
  <p th:if="${param.error}" class="warn">이메일 중복입니다.</p>
</main>
</body>
</html>