<!DOCTYPE html>
<html th:replace="~{layouts/base::html(main=~{::main})}">
<body>
<main>
  <h2>Book</h2>
  <form action="add" method="post">
    <fieldset>
      <legend>책 정보</legend>
      <p><input type="text" name="title" placeholder="제목" required autofocus/>
      </p>
      <p><input type="text" name="author" placeholder="글쓴이" required/>
        <button type="submit">저장</button>
      </p>
    </fieldset>
  </form>
  <p th:replace="~{layouts/pagination::p}"></p>
  <table>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>글쓴이</th>
    </tr>
    <tr th:each="book: ${list.content}">
      <td th:text="${book.id}"></td>
      <td th:text="${book.title}"></td>
      <td th:text="${book.author}"></td>
    </tr>
  </table>
</main>
</body>
</html>